@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

:root {

}

body {
	/* Default properties */
}

span {

	padding: 5px;
	font-size: 32px;
}

.property {
	margin: auto;
	font-family: 'Roboto', sans-serif;
	background-color: whitesmoke;
	border-radius: 10px;
	width: 20em;
	height: 30em;
	box-shadow: 0px 5px 5px grey;
	
}

.howmany {
	color: black;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	vertical-align: middle;

}
.rooms {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-left: -25px;
	font-size: 15px;
	color: rgb(56, 56, 56);
	

}

.a {
	background-color: rgb(255, 255, 255);
}

.b {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.c {

	height: 0px;
}

.main-paragraph {

	font-family: 'Roboto', sans-serif;
	margin-left: 15px;
	margin-bottom: 0px;
	color: rgb(56, 56, 56);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bottom-card {

	font-family: 'Roboto', sans-serif;
	line-height: 3px;
	margin-left: 10px;
	font-size-adjust: 0.58;

}

.bottom-para {

		font-size: 13px;
		margin-bottom: 0px;
}

.bottom-para img {

	vertical-align: middle;
	margin-right: 0px;
	margin-left: 175px;
	

}

/* Image Override Settings */
#img1 {

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 20em;
}

/* Paragraph Override Settings */
#para-override {

	font-family: 'Roboto', sans-serif;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;;
	font-size: 32px;
	padding-top: 0px;

}

#para-override-02 {

	font-family: 'Roboto', sans-serif;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgb(56, 56, 56);
}

#para-override-03 {

	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: rgb(117, 117, 117);
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

#bottom-para-02 {

	color: rgb(117, 117, 117);
	font-size: 13px;
	margin-top: 2px;

}

#Learn-more {


	
}
